@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --neutral-1: #FEFEFE;
  --neutral-2: #F3F5F7;
  --neutral-3: #E8ECEF;
  --neutral-4: #6C7275;
  --neutral-5: #343839;
  --neutral-6: #232627;
  --neutral-7: #141718;
  --green: #38CB89;
  --red: #FF5630;
  --orange: #FFAB00;
  --blue: #377DFF;
  --purple: #6a08db;
  --border: #E8ECEF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter), sans-serif;
  --font-poppins: var(--font-poppins), sans-serif;

  --color-neutral-1: var(--neutral-1);
  --color-neutral-2: var(--neutral-2);
  --color-neutral-3: var(--neutral-3);
  --color-neutral-4: var(--neutral-4);
  --color-neutral-5: var(--neutral-5);
  --color-neutral-6: var(--neutral-6);
  --color-neutral-7: var(--neutral-7);
  --color-green: var(--green);
  --color-red: var(--red);
  --color-orange: var(--orange);
  --color-blue: var(--blue);
  --color-purple: var(--purple);
  --color-border: var(--border);
}

@layer utilities {
  h1 {
    @apply font-bold font-poppins text-2xl lg:text-4xl
  }

  h2 {
    @apply font-poppins font-semibold tracking-wider sm:text-2xl xl:text-3xl
  }

  h3 {
    @apply font-semibold font-poppins sm:text-lg
  }

  h4 {
    @apply font-poppins text-base
  }

  h5 {
    @apply font-poppins text-sm
  }

  h6 {
    @apply font-poppins text-xs
  }

  p {
    @apply font-inter text-sm md:text-base lg:text-lg
  }

  button {
    @apply cursor-pointer
  }
}

@layer components {
  .container {
    @apply container mx-auto px-6
  }

  .arrow-button {
    @apply p-2 bg-neutral-1 rounded-full z-40 absolute hover:scale-110 active:scale-100 text-neutral-4 transition-all duration-300
  }

  .hover-scale {
    @apply hover:scale-110 active:scale-90 transition-all duration-300
  }

  .product-fallback {
    @apply container grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-5 gap-4
  }

  .product-grid {
    @apply container grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-5 gap-4
  }
}


@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */