@import "tailwindcss";

* {
  user-select: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --neutral-1: #FEFEFE;
  --neutral-2: #F3F5F7;
  --neutral-3: #E8ECEF;
  --neutral-4: #9aa0a2;
  /*9aa0a2 6C7275*/
  --neutral-5: #343839;
  --neutral-6: #232627;
  --neutral-7: #141718;
  --green: #38CB89;
  --red: #FF5630;
  --orange: #FFAB00;
  --blue: #377DFF;
  --purple: #6a08db;
  --border: #e3e4e6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter), sans-serif;
  --font-poppins: var(--font-poppins), sans-serif;

  --color-neutral-1: var(--neutral-1);
  --color-neutral-2: var(--neutral-2);
  --color-neutral-3: var(--neutral-3);
  --color-neutral-4: var(--neutral-4);
  --color-neutral-5: var(--neutral-5);
  --color-neutral-6: var(--neutral-6);
  --color-neutral-7: var(--neutral-7);
  --color-green: var(--green);
  --color-red: var(--red);
  --color-orange: var(--orange);
  --color-blue: var(--blue);
  --color-purple: var(--purple);
  --color-border: var(--border);
}



/* .Toastify__toast--success {
  background: var(--green) !important;
  color: var(--neutral-1) !important;
}
.Toastify__toast--error {
  background: var(--red) !important;
  color: var(--neutral-1) !important;
}
.Toastify__toast--info {
  background: var(--blue) !important;
  color: var(--neutral-1) !important;
}
.Toastify__toast--warning {
  background: var(--orange) !important;
  color: var(--neutral-7) !important;
}

.Toastify__toast {
  border-radius: 0.5rem;
  font-weight: 700;
  margin-top: 30px;
}*/


@layer utilities {
  h1 {
    @apply font-bold font-poppins text-2xl lg:text-4xl
  }

  h2 {
    @apply font-poppins font-semibold tracking-wider sm:text-2xl xl:text-3xl
  }

  h3 {
    @apply font-semibold font-poppins sm:text-lg
  }

  h4 {
    @apply font-poppins text-base
  }

  h5 {
    @apply font-poppins text-sm
  }

  h6 {
    @apply font-poppins text-xs
  }

  p {
    @apply font-inter text-sm md:text-base lg:text-lg
  }

  button {
    @apply cursor-pointer
  }
}

@layer components {
  .container {
    @apply container mx-auto px-6
  }

  .arrow-button {
    @apply z-40 absolute hover:scale-110 active:scale-100 text-neutral-3 transition-all duration-300
  }

  .hover-scale {
    @apply hover:scale-110 active:scale-90 transition-all duration-300
  }

  .product-fallback {
    @apply mx-auto grid grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-4
  }

  .product-grid {
    @apply mx-auto grid grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-4
  }

  .cart-header {
    @apply text-center my-8
  }

  .border-card {
    @apply border border-neutral-4 rounded-md p-6 w-full flex flex-col gap-6
  }

  .input-field {
    @apply border border-neutral-4/50 rounded-md w-full grow py-2 px-3 flex-1 mt-2 focus:ring-3 ring-neutral-3 outline-none transition-all duration-300 font-inter text-neutral-6
  }

  .form-title {
    @apply font-semibold block text-xs text-neutral-5
  }
}


@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


/* scrollbar */

/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--neutral-2);
}

::-webkit-scrollbar-thumb {
  background: var(--neutral-4);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--neutral-5);
}